<div class="wrapper">
    <div class="button-wrapper">
        <ng-container *ngIf="selectedEmployees.length">
            <div *ngFor="let employee of selectedEmployees" [matBadgeHidden]="!employee.shops.length" [matBadge]="employee.shops.length" class="button-wrapper__employee">
                <div (click)="choiceEmployee(employee.id)" class="button-wrapper__image">
                    <img src="../../assets/image/employees/{{employee.logo}}.png">
                </div>
            </div>
        </ng-container>
        <div>
            <button (click)="addEmployee()" class="button-wrapper__button" mat-fab >
                <mat-icon>add</mat-icon>
            </button>
            <span *ngIf="!selectedEmployees.length" class="button-wrapper__text">Добавить специалиста</span>
        </div>
    </div>
    <div *ngIf="!selectedEmployees.length" class="no-employee-wrapper">
        <span class="no-employee-wrapper__title">Специалист не назначен</span>
        <span class="no-employee-wrapper__text">Чтобы начать работу с нераспределенными магазинами, вам необходимо добавить хотя бы одного специалиста</span>
        <div (click)="addEmployee()" class="no-employee-wrapper__button">
            <img src="../../assets/image/add.svg">
        </div>
    </div>
    <div *ngIf="selectedEmployees.length" class="employee-wrapper">
        <span class="employee-wrapper__title">Специалист</span>
        <div class="employee-wrapper__position">
            <div class="employee-wrapper__position-container">
                <div class="employee-wrapper__position-image">
                    <img src="..//../assets/image/employees/{{chosenEmployee.logo}}.png">
                </div>
                <span class="employee-wrapper__position-name">{{chosenEmployee.fullName}}</span>
                <span class="employee-wrapper__position-shops">{{chosenEmployee.shops.length}} магазинов</span>
            </div>
            <img (click)="removeEmployee(chosenEmployee.id)" class="employee-wrapper__position-basket" src="../../assets/image/basket.svg">
        </div>
        <span class="employee-wrapper__title">Магазины</span>
        <div *ngIf="chosenEmployee.shops.length" class="employee-wrapper__shop">
            <div class="shops-wrpapper__shop employee-shops">
                <mat-list>
                    <mat-list-item *ngFor="let shop of chosenEmployee.shops">
                        <div class="shops-wrpapper__shop-icon" mat-list-icon>BS</div>
                        <div class="shops-wrpapper__shop-name" mat-line>{{shop.name}}</div>
                        <div class="shops-wrpapper__shop-address" mat-line>{{shop.fullAdress}}</div>
                        <mat-icon class="shops-wrpapper__remove">remove_circle_outline</mat-icon>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="employee-wrapper__warning" *ngIf="!chosenEmployee.shops.length">
            <span>Не назначены</span>
            <div class="employee-wrapper__warning-svg">
                <img src="../../assets/image/warning.svg">
            </div>
        </div>
    </div>
</div>
