<div class="wrapper">
    <button class="wrapper__button" mat-stroked-button>Сохранить изменения 
        <mat-icon class="wrapper__button-icon">check_circle_outline</mat-icon>
    </button>
    <div class="shops-wrpapper">
        <div class="shops-wrpapper__info">
            <ng-container *ngIf="shops.length">
                <span>Нераспределенные магазины:</span>
                <span class="shops-wrpapper__info-text">{{shops.length}}</span>
                <div class="shops-wrpapper__info-svg">
                    <img src="../../assets/image/warning.svg">
                </div>
            </ng-container>
            <ng-container *ngIf="!shops.length">
                <span>Все магазины распределены!</span>
            </ng-container>
        </div>
        <div class="shops-wrpapper__shop">
            <mat-list>
                <mat-list-item *ngFor="let shop of shops">
                    <div mat-list-icon>
                        <button [disabled]="!isShow" (click)="moveShop(shop.id)">
                            <svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.26562 0.0208092L4.98438 0.708309L2.78906 2.99737H9V3.99737H2.80859L4.98438 6.27081L4.26562 6.95831L0.933594 3.48956L4.26562 0.0208092Z" fill="#424242"/>
                                <path d="M11.0038 2.99737H10.0049V3.99737H11.0038V2.99737Z" fill="#424242"/>
                                <path d="M12.0001 2.99737V3.99737H13.0001V2.99737H12.0001Z" fill="#424242"/>
                                <path d="M15.0001 3.99737V2.99737H14.0001V3.99737H15.0001Z" fill="#424242"/>
                            </svg>
                        </button>
                    </div>
                    <div class="shops-wrpapper__shop-icon" mat-list-icon>BS</div>
                    <div class="shops-wrpapper__shop-name" mat-line>{{shop.name}}</div>
                    <div class="shops-wrpapper__shop-address" mat-line>{{shop.fullAdress}}</div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
